<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Secret Soles</title>
    <link href="/assets/css/output.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body class="dark">
    <header class="header">
        <img class="header-bg" src="/assets/img/header.png" alt="Header Background">
        <a href="https://thesecretsoles.com">
            <img class="header-logo" src="/assets/img/header-logo.png" alt="Header Logo">
        </a>
    </header>
    <main>
        <div class="relative flex flex-col h-screen items-center justify-center bg-white dark:bg-black transition-colors">
            <div class="absolute inset-0 overflow-hidden">
                <div class="jumbo absolute -inset-10 opacity-50"></div>
            </div>
        </div>
    </main>
    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>